body {
    background: white;
    color: #323232;
    font-weight: 300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica neue, roboto;
}

h1 {
    font-weight: 600;
    font-style: 26px;
    margin: 10px;
}

h2 {
    font-weight: 100;
    font-style: 16px;
    margin: 10px;
}

h3 {
    font-weight: 100;
    bottom: 1.5em;
    left: 1.5em;
}

button {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 10px;
    overflow: hidden;
    border: 1px solid rgba(48,25,52,.5);
    border-radius: 5px;

    background-color: white;

    transition: background-color .5s;

    color: rgba(48,25,52,0.5);
    font-size: 12px;
}

button:hover {
   background-color: rgba(48,25,52,0.05);
}

a {
    border: none;
    outline: none;
}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  /* margin: 8px 0; */
  box-sizing: border-box;
}

#form {
    align-items:flex-start;
    /* margin-left: 25px; */
    margin-bottom: 50px;
    margin-top: 25px;

}

#madQuote {
    text-align: center;
    font-size: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

#quote {
    color: rgba(48,25,52,.75);
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}
